version: "3.9"

services:
  web:
    build:
      context: .
      target: dev
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    working_dir: /app
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=development
    command: sh -c "npm install --legacy-peer-deps --force || (rm -rf node_modules package-lock.json && npm install --legacy-peer-deps --force) && tail -f /dev/null"
    stdin_open: true
    tty: true

volumes:
  node_modules:


